body {
    background-color: whitesmoke !important;
    color: black;
    font-family: Arial, sans-serif;
    font-size: small;
    margin: 8px;
}

h3 {
    margin-left: 30px !important;
}

#content {
    display: inline-grid !important;
}

.Caption {
    background-color: lightskyblue !important;
    font-weight: bold;
    padding: 3px;
    border: 1px solid transparent;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

.panel {
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
}